.home-content {
    padding-top: 5%;
    padding-left: 10%;
    color: white;
    padding-top: 7%;
    font-size: 1.8vw;
}

#type-writer {
    font-size: 3vw;
    color: aquamarine
}

.resize {
    width: 37vw;
    height: auto;
    float: right;
    padding-right: 10%;
}

.uofa {
    width: 23px;
    height: auto;
}

#connect-home {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 2vw;
}

.home-social {
    display: inline-flex;
    flex-direction: row;
    padding-left: 0%;
}

.home-social li {
    list-style-type: none;
    padding: 0 5px;
    position: relative;
}