nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

#nav-bar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
}

#nav-bar li a:focus {
    color: #17cf97
}

#nav-bar li a:hover {
    color: #17cf97
}